header {
  background-color: black;

}

h1 {
  color: #f8e80c;
  text-decoration: none;
}

.Headerbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchBarCont {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-right: 12px;
  align-items: center;
}

.searchBar {
  height: 2rem;
  width: 20rem;
}

#homeIcon {
  color: white;
  margin-right: 5px;
}

#searchIcon {
  color: white;
  background-color: gray;
  font-size: 20px;
  padding: 5px;
}


.navHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
}